html {
    font-size: 62.5%;
}


.fb-group {
    padding: 16px;
}


.heading {
    font-size: 2.8rem;
}


.desc {
    font-size: 1.6rem;
}


.button-link {
    color: #fff;
    background-color: #1b74e4;
    font-size: 1.6rem;


    /* Bỏ gạch chân mặc định của thẻ a */
    text-decoration: none;
}
