body {
    font-family: 'Montserrat', sans-serif;
}


p {
    font-size: 20px;
    line-height: 1.6;
}


a {
    display: inline-block;
    margin-top: 16px;
    padding: 8px 16px;
    border: 2px solid #000;
    border-radius: 999px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: ease .25s;
}


a:hover {
    color: #fff;
    background-color: #000;
}
